.input-wrapper {
  margin: 0 70px 0 0;
  span {
    display: block;
    font-family: var(--font-ubuntu);
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 16px 0;
    color: #333333;
    &.disabled {
      color: #828282;
    }
  }
  .show-text,
  .show-text-error {
    color: #828282;
    font-family: var(--font-noto);
    font-weight: 500;
    font-size: 10px;
    display: inline-block;
    margin: 4px 0 0 0;
  }
  .show-text {
    color: #828282;
  }
  .show-text-error {
    color: #d32f2f;
  }
  label {
    font-family: var(--font-noto);
    font-weight: 400;
    font-size: 12px;
    position: relative;
    display: block;
    &.focus {
      color: #2962ff;
    }
    &.error {
      color: #d32f2f;
    }
  }
  &:last-child {
    margin: 0;
  }
  // Icons
  .i-lock {
    font-style: unset;
  }
  .i-phone::before,
  .i-lock::before {
    font-family: FontAwesome;
    font-size: 20px;
    color: #828282;
  }
  .i-phone::before {
    content: "\f879";
  }
  .i-lock::before {
    content: "\f13e";
  }
  .content-icon,
  .content-icon-lock {
    position: absolute;
    margin: 0;
    bottom: 17px;
  }
  .content-icon {
    left: 8px;
  }
  .content-icon-lock {
    right: 8px;
  }
  @media screen and (max-width: 992px) {
    margin: 0 70px 15px 0;
  }
}
.input {
  margin: 4px 0 0 0;
  display: block;
  width: 200px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #828282;
  padding: 12px 18px;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--font-noto);
  &::placeholder {
    font-family: var(--font-noto);
    font-weight: 500;
    font-size: 14px;
    color: #828282;
  }
  &-default {
    &.hover {
      border: 1px solid #333333;
    }
    &.focus {
      border: 1px solid #2962ff;
    }
  }
  &-error {
    border: 1px solid #d32f2f;
  }
  &-disabled {
    border: 1px solid #e0e0e0;
    background: #f2f2f2;
    cursor: not-allowed;
  }
  &.input-show-text {
    border: 1px solid #828282;
  }
  &-show-text-error {
    border: 1px solid #d32f2f;
  }
  &-startIcon {
    padding: 12px 18px 12px 40px;
  }
  &-endIcon {
    padding: 12px 40px 12px 18px;
  }
  &-value {
    font-weight: bold;
  }
  &-sm {
    height: 40px;
  }
  &-full-width {
    width: 100%;
  }
  &-multiline {
    padding: 20px 12px 115px;
  }
}
