.navbar {
  padding: 120px 0 60px;
  &__list {
    height: 100%;
    padding: 0 15px 50px 15px;
  }
  &__item {
    display: block;
    margin: 0 0 30px 0;
    a {
      display: block;
      text-decoration: none;
      font-size: 17px;
      color: var(--color-black);
      outline: none;
    }
  }
}
